
* {
	margin: 0;
	padding: 0;
	border: 0;
}

html{
      height: 100%;
      background-size: auto, cover;
      background: #687076;
	background-image: url("../img/login/zenbg-1.png"), url("../img/login/zenbg-2.png");
	background-repeat: repeat-x, repeat;
    }

body {
	font-weight:300;
	text-align: left;
	text-decoration: none;
	overflow:hidden;

}

.heading {
	width:100%;
	top:25px;
	position:fixed;
	text-align:center;
	padding:10px 0;
	margin:0 auto;
	font-weight:normal;
	font-size:50px;
	color:#FFFFFF;
	text-shadow:5px 5px 10px green;

}



#wrapper {
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -200px;
	

}


.gradient {
	width: 420px;
	height: 545px;
	position: fixed;
	left: 48.5%;
	top: 46%;
	margin-left: -150px;
	margin-top: -200px;
	background-color: black;
	opacity: 0.5;
	border-radius: 10px;

}

.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index:5;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}

.login-form .logo {
	background: url(../img/logos/logo.png) no-repeat;
	background-size: 60px 60px;
	width: 20%;
	height: 15%;
	margin: auto;
	margin-left: 35px;
	margin-top: 20px;
	float: left;

}

.login-form .header {
	padding: 40px 30px 30px 30px;
	color: black;
}

.login-form .header h1 {
	font-weight: 300;
	font-size: 30px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 14px;
	line-height: 20px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.login-form .content {
	padding: 0 30px 25px 30px;
}

.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	background: #C4E8C2;
	border: 1px solid #fff;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.login-form .content .password, .login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;

}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.user-icon, .pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 100px;
	padding-right: 5px;
	z-index: 3;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.user-icon {
	top:138px; 
	background: rgba(65,72,72,0.75) url(../img/login/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:210px;
	background: rgba(65,72,72,0.75) url(../img/login/pass-icon.png) no-repeat center;
}

.input, .user-icon, .pass-icon, .button, .register {
	transition: all 0.9s;

}

.login-form .footer {
	padding: 20px 40px 20px 30px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 5 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.login-form .footer .button {
	float:right;
	padding: 11px 25px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #33B02C;
	border: 1px solid #46b3d3;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #8AFC59;
	border: 1px solid rgba(256,256,256,0.75);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	border-radius: 20px 0px;
	color: #0E3F04	;
}

.login-form .footer .button:focus {
	position: relative;
	bottom: 1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);

}

.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	background: none;
	border: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.login-form .footer .register:hover {
	color: #0E3F04;
	font-size: 19px;
	text-shadow: 5px 5px 20px green;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}

.login-form #temp {
	padding: 10px 10px 10px 10px;
	overflow: auto;
	text-align: center;
	background: #d4dedf;
	
	
	box-shadow: inset 5 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}


label.error {
	  color: #900;
	  font-style: italic;
	  font-size: 1em;
	  text-align: left;
	  padding: 15px;
          position: fixed !important;
          margin-left: -20px;
          margin-top: 20px;
          margin-bottom: 40px;
          
	
	  display: none;
}
        
label.error:hover {
	  color: black;
	  font-style: italic;
	  font-size: 1em;
	  text-align: left;
	  padding: 0px;
          position: fixed !important;
	}

input.error {
            background: #fee url(../img/invalid.png) no-repeat 98% center !important;
            box-shadow: 0 0 5px #d45252 !important;
            border-color: #b03535 !important;
	}

input.valid {
	  background: #fff url(../img/valid.png) no-repeat 98% center !important;
        box-shadow: 0 0 5px #5cd053 !important;
        border-color: #28921f !important;
	}

#olvCon {
	color: white;
	text-decoration: none;
	margin-top: 3px;
	font-size: 1em;
}


#olvCon:hover{
	text-decoration: underline;
}
